<div class="shareUl">
  <a target="_blank" rel="noopener" href="//twitter.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}" title="Tweet on Twitter" class="shareLink">
    <span class="shareIcon">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
        <path d="M18.3307 3.34168C17.4974 3.75001 16.6807 3.91584 15.8307 4.16668C14.8966 3.11251 13.5116 3.05418 12.1807 3.55251C10.8499 4.05084 9.97823 5.26918 9.99739 6.66668V7.50001C7.29323 7.56918 4.8849 6.33751 3.33073 4.16668C3.33073 4.16668 -0.154271 10.3608 6.66406 13.3333C5.10406 14.3725 3.54823 15.0733 1.66406 15C4.42073 16.5025 7.42489 17.0192 10.0257 16.2642C13.0091 15.3975 15.4607 13.1617 16.4016 9.81251C16.6822 8.7939 16.8216 7.74156 16.8157 6.68501C16.8157 6.47751 18.0741 4.37584 18.3307 3.34168Z" stroke="#191919" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </span>
    <span class="shareTitle">Share</span>
  </a>
  
  <a target="_blank" rel="noopener" href="//www.facebook.com/share.php?u={{ shop.url | append: share_permalink }}" title="Share on Facebook" class="shareLink">
    <span class="shareIcon">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
        <path d="M5.83594 8.33333V11.6667H8.33594V17.5H11.6693V11.6667H14.1693L15.0026 8.33333H11.6693V6.66667C11.6693 6.44565 11.7571 6.23369 11.9133 6.07741C12.0696 5.92113 12.2816 5.83333 12.5026 5.83333H15.0026V2.5H12.5026C11.3975 2.5 10.3377 2.93899 9.55633 3.72039C8.77492 4.50179 8.33594 5.5616 8.33594 6.66667V8.33333H5.83594Z" stroke="#191919" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </span>
    <span class="shareTitle">Tweet</span>
  </a>
  
  <a target="_blank" rel="noopener" href="//pinterest.com/pin/create/button/?url={{ shop.url | append: share_permalink }}&amp;media={{ share_image | img_url: '1024x1024' }}&amp;description={{ share_title | url_param_escape }}" title="Pin on Pinterest" class="shareLink">
    <span class="shareIcon">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
        <path d="M7.01625 11.3213L12.9925 14.8037M12.9837 5.19625L7.01625 8.67875M17.875 3.875C17.875 5.32475 16.6997 6.5 15.25 6.5C13.8003 6.5 12.625 5.32475 12.625 3.875C12.625 2.42525 13.8003 1.25 15.25 1.25C16.6997 1.25 17.875 2.42525 17.875 3.875ZM7.375 10C7.375 11.4497 6.19975 12.625 4.75 12.625C3.30025 12.625 2.125 11.4497 2.125 10C2.125 8.55025 3.30025 7.375 4.75 7.375C6.19975 7.375 7.375 8.55025 7.375 10ZM17.875 16.125C17.875 17.5747 16.6997 18.75 15.25 18.75C13.8003 18.75 12.625 17.5747 12.625 16.125C12.625 14.6753 13.8003 13.5 15.25 13.5C16.6997 13.5 17.875 14.6753 17.875 16.125Z" stroke="#191919" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </span>
    <span class="shareTitle">Pin it</span>
  </a>
</div>
