{{ 'custom-faq-image-banner.css' | asset_url | stylesheet_tag }}
{% style %}
  @media screen and (min-width:768px){
     #custom-faq-image-banner {
  background-image: url('{{ section.settings.desktop_image   | image_url: width: 1920 }}');
   background-size: cover;
   position: relative;
   z-index: 1;
    border-radius: 10px;
    margin:20px 75px;
   height: 50rem;
}
  }
 @media screen and (max-width:767px){
     #custom-faq-image-banner  .full-blend-hero-section-container-mobile-image {
  background-image: url('{{ section.settings.mobile_image    | image_url: width: 767 }}');
   background-size: cover;
   position: relative;
   z-index: 1;
    border-radius: 10px;
   height: 52rem;  }
 }
 {% endstyle %}
 <div id="custom-faq-image-banner">
   <div class="full-blend-hero-sectiong-bg-overlay"></div>
   <div class="full-blend-hero-section-container">
     <div class="full-blend-hero-section-container-relative">
       
       <div class="full-blend-hero-section-container-mobile-image">
    
       </div>
       <div class="full-blend-hero-section-container-box">
         <div class="full-blend-hero-section-container-box-content-container">
           <div class="full-blend-hero-section-container-box-heading-container">
                <h1>{{ section.settings.heading }}</h1> 
           </div>
           <div class="full-blend-hero-section-container-box-text-container">
                <p>{{ section.settings.description }}</p>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>

  {% schema %}
 {
   "name": "custom faq banner",
   "settings": [
        {
       "type": "image_picker",
       "id": "desktop_image",
       "label": " Banner Image"
     },
     {
       "type": "image_picker",
       "id": "mobile_image",
       "label": "Mobile Banner Image"
     },
     {
       "type": "text",
       "id": "heading",
       "label": "Heading",
       "default": "Help Center"
     },
     {
       "type": "textarea",
       "id": "description",
       "label": "Description",
       "default": "Gorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos."
     }
   ],

   "presets": [
     {
       "name": "custom image banner",
     }
   ]
 }
 {% endschema %}